.container{
    background-color: rgb(78, 133, 23);
padding: 50px;
width: 30%;
margin: auto;
}

.passage{
padding: 50px;
background-color: palegoldenrod;
}

p{
    color: navy;
    font-size: 64px;
}
